---
// component import
import PostHeader from "../components/PostHeader.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
import MainLayout from "./MainLayout.astro";
import RelatedPosts from "../components/RelatedPosts.astro";

// util imports
import { formatBlogPosts } from "../js/utils";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;

const allPosts = await Astro.glob("../pages/blog/*.mdx");
const formattedPosts = formatBlogPosts(allPosts, {
  sortByDate: false,
});
const relatedPosts = formattedPosts
  .filter(
    (post) =>
      post.frontmatter.category.toLowerCase() === category.toLowerCase() &&
      post.frontmatter.title !== title,
  )
  .slice(0, 3);
---

<MainLayout
  {title}
  {description}
  image={frontmatter.image}
  {frontmatter}
  robots={frontmatter.robots}
>
  <main class="article-container">
    <div>
      <article>
        <section class="article">
          <!-- <div class="post-content"> -->
          <div class="content">
            <slot />
          </div>
        </section>
      </article>
      <aside>
        <div class="widget widget-newsletter">
          <h3>Never miss my articles &amp; newsletters</h3>
          <p>
            Join 20K+ Flutter developers who get in-depth articles (on Fridays)
            and hand-picked Flutter resources (every month):
          </p>
          <form
            id="form-newNewsletterHomePage"
            action="https://app.convertkit.com/forms/6371905/subscriptions"
            method="post"
            novalidate="true"
            data-sv-form="3584409"
            data-uid="64c4f3ed27"
          >
            <input
              name="email_address"
              type="email"
              required="true"
              placeholder="Your Email Address"
              aria-label="Your Email Address"
            />
            <button type="submit">Subscribe</button>
          </form>
          <script>
            trackEmailSignup(
              "form-newNewsletterSidebar",
              "sidebar",
              "articles/adding-animated-overlays-to-your-app",
              "Signup New Newsletter",
            );
          </script>
        </div>
      </aside>
    </div>
  </main>
</MainLayout>
